@import "./mixin.scss";

#profilePage {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #656f6f, transparent 35%);
  .pageInner {
    padding: 50px;
    h1 {
      margin-bottom: 50px;
      span {
        -webkit-text-stroke-color: #fff;
        -webkit-text-stroke-width: 0.03em;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-repeat: no-repeat;
        transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
        background-image: linear-gradient(90deg, $yellow 0%, $yellow 50%, transparent 50.1%);
        background-size: 0% 100%;
        font-family: "Roboto", sans-serif !important;
        font-weight: bold;
        font-size: 100px;
        cursor: default;
        &:hover {
          background-size: 200% 100%;
        }
      }
    }
  }
  .profileContent {
    width: 100%;
    display: flex;
  }
  .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    > div {
      span {
        display: inline-block;
        position: relative;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 5px;
        &::before {
          content: "";
          position: absolute;
          left: -10px;
          width: 3px;
          height: 20px;
          background: $yellow;
          z-index: -1;
        }
      }
      p {
        margin-bottom: 3px;
      }
    }
    .career {
      &Block {
        > ul {
          > li {
            position: relative;
            padding-left: 15px;
            &::before {
              content: "";
              width: 8px;
              height: 3px;
              position: absolute;
              top: 7px;
              left: 0;
              background: $yellow;
            }
          }
        }
        & + .careerBlock {
          margin-top: 10px;
        }
      }
      &Name {
        font-weight: 500;
      }
      &Link {
        display: flex;
        margin-top: 10px;
        column-gap: 8px;
        .list {
          a {
            position: relative;
            font-weight: 500;
            &::before {
              content: "";
              border-bottom: solid 1px $yellow;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease;
            }
            &:hover::before {
              -webkit-transform: scaleY(4);
              -moz-transform: scaleY(4);
              -ms-transform: scaleY(4);
              -o-transform: scaleY(4);
              transform: scaleY(4);
            }
          }
        }
      }
    }
  }
  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 40%;
    row-gap: 20px;
    .profilePic {
      border-radius: 100%;
      overflow: hidden;
      flex: none;
    }
    .goGit {
      font-weight: 800;
      padding: 2px 10px;
      border-radius: 50px;
      &:hover {
        background: rgba($yellow, 0.7);
      }
    }
    .skillBox {
      width: 100%;
      height: 100%;
      .skill {
        margin-bottom: 10px;
        p {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 3px;
        }
        .progress {
          background-color: #f3f3f3;
          border-radius: 3px;
          height: 10px;
          width: 100%;
          &-bar {
            height: 100%;
            line-height: 30px;
            text-align: center;
            color: white;
            border-radius: 3px;
            transition: width 0.4s ease;
            &.html {
              background-color: #e34f26;
            }
            &.css {
              background-color: #1572b6;
            }
            &.js {
              background-color: #f7df1e;
            }
            &.react {
              background-color: #61dafb;
            }
          }
        }
      }
    }
  }
}
